*{
    margin: 0px;
    padding: 0px;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5%;
    margin-bottom: 20px;
    font-family: monospace;
    font-size: 50px;
}
main h2 {
    margin-bottom: 20px;
    padding-left: 30px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 315px;
    padding: 20px;
    font-family: monospace;
    font-size: 20px;
}
p {
    margin-bottom: 10px;
    padding-left: 30px;
}